body {
    background-image: url('Invaderbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
}

.back-button {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    display: inline-block;
    padding: 10px 20px;
    background-color: cadetblue;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    z-index: 1000; /* Ensure the button is on top of everything */
}

.back-button:hover {
    background-color: #0056b3;
}

.back-button:active {
    transform: scale(0.95); /* Slightly shrink the button on click */
}

.grid {
    width: 300px;
    height: 300px;
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
}

.invader {
    background-color: lime;
    border-radius: 10px;
}

.shooter {
    background-color: cadetblue;
}
.laser {
    background-color: yellow;
}

.boom {
    background-color: red;
}

h1 {
    color: white;
    font-size: 2em;
}

h2 {
    color: white;
    font-size: 1.5em;
}

h3 {
    color: white;
    font-size: 1em;
}