body {
    background-image: url('Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0;
}

.back-button {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    z-index: 1000; /* Ensure the button is on top of everything */
}

.grid {
    width: 300px;
    height: 300px;
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
}

.invader {
    background-color: rgb(25, 230, 22);
    border-radius: 10px;
}

.shooter {
    background-color: rgb(127, 16, 164);
}
.laser {
    background-color: rgb(21, 63, 229);
}

.boom {
    background-color: rgb(254, 46, 31);
}

h1 {
    color: white;
    font-size: 2em;
}

h2 {
    color: white;
    font-size: 1.5em;
}

h3 {
    color: white;
    font-size: 1em;
}